<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>菜单管理</title>
	<!-- 浏览器标签图片 -->
	<link rel="shortcut icon" href="../topjui//images/favicon.ico"/>
	<script type="text/javascript" src="../easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../easyui/myvalidate.js"></script>
	<link rel="stylesheet" type="text/css" href="../easyui/themes/material/easyui.css">
	<link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
	  <!-- FontAwesome字体图标 -->
	  <link type="text/css" href="../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
	
	<script type="text/javascript">
		var comboboxs=[{    
		    "id":"fa fa-list",
		    "text":"<span class=\"fa fa-list\"></span>"
		},{    
		    "id":"fa fa-folder",
		    "text":"<span class=\"fa fa-folder\"></span>"
		},{    
		    "id":"fa fa-file-text-o",
		    "text":"<span class=\"fa fa-file-text-o\"></span>"
		},{
			"id":"fa fa-table",
			"text":"<span class=\"fa fa-table\"></span>"
		},{
			"id":"fa fa-bar-chart",
			"text":"<span class=\"fa fa-bar-chart\"></span>"
		},{
			"id":"fa fa-heartbeat",
			"text":"<span class=\"fa fa-heartbeat\"></span>"
		}];
		
		var editNodeId = -1;
		$(function(){
			$("#tb").treegrid({
				url:"../menu/pageList",
				idField:"id",
				treeField:"text",
				columns:[
						[
				          {field:'text',title:'菜单名',width:100,editor:"text"},
				          {field:'iconCls',title:'图标',width:100,editor:{"type":"combobox","options":{"data":comboboxs,valueField:"id",textField:"text"}}},
				          {field:'url',title:'访问路径',width:120,editor:{"type":"validatebox","options":{"validType":"maxSize[50]"}}},
				          {field:'_parentId',title:'上级菜单',width:120,formatter:fmParentid,editor:{"type":"combotree","options":{"url":"../menu/list"}}},
				          {field:'empname',title:'操作人',width:120},
				          {field:'operatedate',title:'操作时间',width:120}
				        ]
				],
				pagination:true,
				pageList:[20,50,100],
				pageSize:20,
				loadFilter:function(data){
					var total = data.total;
					if(total>0){
						var rows = data.rows;
						for(var i=0;i<total;i++){
							// 一级节点为null
							if(rows[i].parentId == 0){
								rows[i]._parentId = null;
							}else{
								rows[i]._parentId = rows[i].parentId;
							}
						}
					}
					return data;
				},
				fitColumns:true,
				toolbar:[{
					text:"添加节点",
					iconCls:"icon-add",
					handler:function(){
						if(editNodeId==-1){
							// 追加节点到选中节点的后面
							var node = $('#tb').treegrid('getSelected');
							var id = null;
							if(node){
								id = node.id;
							}
	
							$("#tb").treegrid("append",{
								parent:id,
								data:[{
									id:"000",
									text:""
								}]
							});
							
							$("#tb").treegrid("beginEdit","000");
							editNodeId = "000";
						}else{
							$.messager.show({
								title:'提示',
								msg:'有正在编辑的数据！'
							});
						}
					}
				}/*,'-',{
					text:"删除",
					iconCls:"icon-remove",
					handler:function(){
						var row = $("#tb").datagrid("getSelected");
						if(row!=null){
							if(editNodeId==-1){
								// 删除节点以及子节点
								$.post("../menu/del",{id:row.id},function(data){
									if(data!=null){
										$.messager.show({
											title:'提示',
											msg:'删除成功！'
										});
										// 刷新
										$('#tb').treegrid('reload');
									}else{
										$.messager.show({
											title:'提示',
											msg:'删除失败！'
										});
									}
								});
							}else{
								$.messager.show({
									title:'提示',
									msg:'有正在编辑的数据！'
								});
							}
						}else{
							$.messager.alert('提示','请选择要删除的数据');
						}
					}
				}*/,'-',{
					text:"保存",
					iconCls:"icon-save",
					handler:function(){
						if(editNodeId != -1){
							save();
							
							editNodeId = -1;
						}else{
							$.messager.show({
								title:"提示",
								msg:"没有要保存的数据"
							});
						}
					}
				},'-',{
					text:"取消编辑",
					handler:function(){
						if(editNodeId != -1){
							// 取消
							$("#tb").treegrid("cancelEdit",editNodeId);
							if(editNodeId == "000"){
								$("#tb").treegrid("remove",editNodeId);
							}
							editNodeId = -1;
						}
					}
				}],
				onDblClickRow:function(row){
					// 判断当前行是否处于编辑状态
					if(editNodeId == row.id){// 是编辑状态
						save();
						
						editNodeId = -1;
						
					}else{// 不是编辑状态
						// 判断是否有正在编辑的行
						if(editNodeId == -1){// 没有
							// 获取节点id,打开编辑状态
							$("#tb").treegrid("beginEdit",row.id);
							editNodeId = row.id;
						}else{
							$.messager.confirm("提示","是否保存正在编辑的数据信息？",function(r){
								if(r){
									save();
								}else{
									// 取消
									$("#tb").treegrid("cancelEdit",editNodeId);
								}
								
								$("#tb").treegrid("beginEdit",row.id);
								editNodeId = row.id;
							});
						}
					}
				}
			});
		});
		
		function fmParentid(parentId){
			var node = $("#tb").treegrid("find",parentId);
			if(node != null){
				return node.text;
			}else{
				return "";
			}
		}
		function save(){
			// 结束编辑状态
			$("#tb").treegrid("endEdit",editNodeId);
			// 获取需要修改的数据信息
			var editRow = $("#tb").treegrid("find",editNodeId);
			if(editRow._parentId==null || editRow._parentId==""){
				editRow.parentId = 0;
			}else{
				editRow.parentId = editRow._parentId;
			}
			
			var url = "";
			if(editNodeId=="000"){
				url = "../menu/add";
			}else{
				url = "../menu/upd";
			}
			//保存
			$.post(url,editRow,function(data){
				if(data!=null){
					$.messager.show({
						title:'提示',
						msg:'操作成功！'
					});
					// 刷新
					$('#tb').treegrid('reload');
				}else{
					$.messager.show({
						title:'提示',
						msg:'操作失败！'
					});
				}
			});
		}
	</script>

 </head>
  
  <body>
    <table id="tb"></table>
    
  </body>
</html>
