<style xmlns:th="http://www.w3.org/1999/xhtml">
    .editTable .label {
        min-width: 80px;
        width: 80px;
    }
</style>
<table class="editTable">
    <input name="empid" th:value="${session.emps.empid}" hidden>
    <tr>
        <td class="label">用户名</td>
        <td><input type="text" id="userName" name="uname" th:value="${session.emps.uname}"></td>
    </tr>
    <tr>
        <td class="label">姓名</td>
        <td><input type="text" id="userNameId" name="empname" th:value="${session.emps.empname}" ></td>
    </tr>
    <tr>
        <td class="label">原密码</td>
        <td><input type="text" id="pwd" name="pwd1" th:value="${session.emps.pwd }"></td>
    </tr>
    <tr>
        <td class="label">新密码</td>
        <td><input type="text" id="pwd1" name="pwd"></td>
    </tr>
    <tr>
        <td class="label">确认密码</td>
        <td><input type="text" id="pwd2" name="pwd2"></td>
    </tr>
</table>

<script type="text/javascript">
    $(function () {
        $('#userNameId').iTextbox({
            width: 200,
            readonly: true
        });
        $('#userName').iTextbox({
            width: 200,
            readonly: true
        });
        $('#pwd').iPasswordbox({
            width: 200,
            required: true
        });
        $('#pwd1').iPasswordbox({
            width: 200,
            required: true,
            validType: 'minLength[6]'
        });
        $('#pwd2').iPasswordbox({
            width: 200,
            required: true,
            validType: "equals['#pwd1']"
        });
    });
</script>